html,
*{
  padding: 0;
  margin:0;
}
body {
 
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  background-color: #22272e;
  
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

ul{
 margin: 0;
 padding: 0; 
 color: #2e2e2ef3;

}





* {
  box-sizing: border-box;
}
